<div id="<%= dom_id customer %>">
  <% Customer::EDITABLE_ATTRS.each do |attribute| %>
    <%= turbo_frame_tag attribute do %>
    <p>
      <strong><%= attribute %>:</strong>
      <%= link_to (customer[attribute].presence || 'Edit'), [:edit, customer, attribute: attribute] %>
    </p>
    <% end %>
  <% end %>
</div>
